
*.vsidx
*.user
PalletOptimization/obj/Debug/net8.0/PalletOptimization.GeneratedMSBuildEditorConfig.editorconfig
PalletOptimization/obj/Debug/net8.0/PalletOptimization.csproj.AssemblyReference.cache
PalletOptimization/obj/Debug/net8.0/PalletOptimization.AssemblyInfoInputs.cache
PalletOptimization/obj/Debug/net8.0/PalletOptimization.AssemblyInfo.cs
*.dll
PalletOptimization/obj/Debug/net8.0/PalletOptimization.csproj.BuildWithSkipAnalyzers
PalletOptimization/obj/Debug/net8.0/PalletOptimization.GeneratedMSBuildEditorConfig.editorconfig
PalletOptimization/obj/Debug/net8.0/PalletOptimization.AssemblyInfoInputs.cache
PalletOptimization/obj/Debug/net8.0/PalletOptimization.AssemblyInfo.cs
*.editorconfig
*.cache
PalletOptimization/obj/Debug/net8.0/PalletOptimization.AssemblyInfo.cs
PalletOptimization/.vs/PalletOptimization/v17/.suo
